<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distribuição de Redes Sociais por Bairro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .btn-primary-custom {
            background-color: #007bff;
            border: none;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .btn-primary-custom:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body class="bg-light d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="container text-center">
        <h1 class="mb-4">Distribuição de Redes Sociais por Bairro</h1>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Bairro</th>
                        <th>% Facebook</th>
                        <th>% WhatsApp</th>
                        <th>% Instagram</th>
                        <th>% Twitter</th>
                        <th>% YouTube</th>
                        <th>% Outros</th>
                    </tr>
                </thead>
                <tbody>
                    {% for count in total_counts %}
                    <tr>
                        <td>{{ count.bairro }}</td>
                        <td>{{ count.percent_facebook|floatformat:2 }}%</td>
                        <td>{{ count.percent_whatsapp|floatformat:2 }}%</td>
                        <td>{{ count.percent_instagram|floatformat:2 }}%</td>
                        <td>{{ count.percent_twitter|floatformat:2 }}%</td>
                        <td>{{ count.percent_youtube|floatformat:2 }}%</td>
                        <td>{{ count.percent_outros|floatformat:2 }}%</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                <div class="text-center mt-3">
            <button type="button" class="btn btn-primary-custom" onclick="window.location.href='{% url 'gerencia' %}'">Voltar</button>
        </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
